
### Symfony / Runtime
/cesizen-api/.env.local
/cesizen-api/.env.local.php
/cesizen-api/.env.*.local
/cesizen-api/config/secrets/prod/prod.decrypt.private.php
/cesizen-api/public/bundles/
/cesizen-api/var/
/storage/

### Dependencies
/cesizen-api/vendor/
/cesizen-app/node_modules/

### Composer
/cesizen-api/.composer/
/cesizen-api/composer.phar

### PHPUnit / Coverage
/cesizen-api/.phpunit.cache/
/cesizen-api/phpunit.xml
/cesizen-api/build/
/cesizen-api/coverage/

### Frontend Build
/cesizen-app/dist/
/cesizen-app/.next/
/cesizen-app/.vite/

### Logs
*.log

### Docker / Local overrides
/compose.override.yaml
/docker-compose.override.yml
/docker-compose.override.yaml

### IDE / Editor
/.idea/
/.vscode/
*.swp
*.swo

### OS
.DS_Store
Thumbs.db
Desktop.ini

.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
